---
- name: Configure WordPress servers
  hosts: web_servers
  become: yes

  vars:
    wordpress_site_dir: /var/www/html
    wordpress_db: wordpress
    wordpress_user: wp_user
    wordpress_password: wp_password
    mysql_host: "{{ hostvars['mysql_db']['ansible_host'] | default('mysql_db') }}"

  tasks:
    - name: Install Apache, PHP, and dependencies
      apt:
        name:
          - apache2
          - php
          - php-mysql
          - php-cli
          - php-curl
          - php-gd
          - php-mbstring
          - php-xml
          - php-zip
          - unzip
        state: present
        update_cache: yes

    - name: Ensure Apache is running
      service:
        name: apache2
        state: started
        enabled: yes

    - name: Download WordPress
      get_url:
        url: https://wordpress.org/latest.tar.gz
        dest: /tmp/wordpress.tar.gz

    - name: Extract WordPress directly to web directory
      unarchive:
        src: /tmp/wordpress.tar.gz
        dest: "{{ wordpress_site_dir }}"
        remote_src: yes
        owner: www-data
        group: www-data

    - name: Copy wp-config.php
      template:
        src: wordpress/wp-config.php.j2
        dest: "{{ wordpress_site_dir }}/wordpress/wp-config.php"
        owner: www-data
        group: www-data
        mode: "0644"
