
name: Ansible CI

on:
  push:
    branches:
      - main

jobs:
  run-ansible:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.ANSIBLE_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 100.28.230.137 >> ~/.ssh/known_hosts

      - name: Create Ansible inventory
        run: |
          mkdir -p ansible/playbooks
          cat << 'EOF' > ansible/playbooks/hosts.ini
          [db]
          100.28.230.137 ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_rsa
          EOF

      - name: Run MySQL Ansible playbook
        run: |
          ansible-playbook -i ansible/playbooks/hosts.ini ansible/playbooks/mysql-docker.yml

      - name: Run WordPress
        run: |
          ansible-playbook -i ansible/playbooks/hosts.ini ansible/playbooks/wordpress.yml

      - name: Run Node.js Todo
        run: |
          ansible-playbook -i ansible/playbooks/hosts.ini ansible/playbooks/nodejs.yml

      - name: Run Load Balancer
        run: |
          ansible-playbook -i ansible/playbooks/hosts.ini ansible/playbooks/loadbalancer.yml


          ansible-playbook -i playbooks/hosts.ini playbooks/nodejs.yml
