name: Ansible Configuration Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  ansible:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Ansible and dependencies
        run: |
          sudo apt update
          sudo apt install -y ansible python3-pip
          pip3 install docker pymysql

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          # Disable strict host key checking
          echo -e "Host *\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config

      - name: Create Ansible inventory
        run: |
          cat > ansible/playbooks/hosts.ini << 'EOF'
[db]
100.28.230.137 ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_rsa

[web_servers]
54.152.48.179 ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_rsa
18.206.126.226 ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_rsa

[nodejs_todo]
3.87.21.67 ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_rsa

[lb]
18.206.22.78 ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_rsa
EOF

      - name: Run MySQL Docker Playbook
        run: ansible-playbook -i ansible/playbooks/hosts.ini ansible/playbooks/mysql-docker.yml

      - name: Run WordPress Playbook
        run: ansible-playbook -i ansible/playbooks/hosts.ini ansible/playbooks/wordpress.yml

      - name: Run Node.js Playbook
        run: ansible-playbook -i ansible/playbooks/hosts.ini ansible/playbooks/nodejs.yml

      - name: Run Load Balancer Playbook
        run: ansible-playbook -i ansible/playbooks/hosts.ini ansible/playbooks/loadbalancer.yml
